@model List<LeaveManagement.ViewModels.LeaveViewModel>
@{
    ViewBag.Title = "ViewLeave";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<body>
    <br><br>
    <div class="container-fluid col-md-8">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">LeaveID</th>
                    <th scope="col">Employee Username</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Forenoon Only</th>
                    <th scope="col">Afternoon Only</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Reason for Leave</th>
                    <th scope="col">Approval Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>


                        <th scope="row">@item.LeaveID</th>
                        <td>@item.EmployeeUserName</td>
                        <td>@item.FromDate</td>
                        <td>@item.ToDate</td>
                        <td>@item.IsForenoonOnly</td>
                        <td>@item.IsAfternoonOnly</td>
                        <td>@item.LeaveTypeID</td>
                        <td>@item.LeaveReason</td>
                        @if (@item.ApprovalStatus == 0)
                        {
                            <td><button class="btn btn-primary" onclick="redirect(@item.LeaveID,1)">Approve</button></td>
                            <td><button class="btn btn-danger" onclick="redirect(@item.LeaveID,-1)">Reject</button></td>
                        }
                        @if (@item.ApprovalStatus == 1)
                        {
                            <td><button class="btn btn-secondary">Approved</button></td>
                        }
                        @if (@item.ApprovalStatus == -1)
                        {
                            <td><button class="btn btn-secondary">Rejected</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
<script>
    function redirect(val, approve) {
        var form = $('<form method="post" action="ViewLeave"><input type="hidden" name="leave[0]" value=' + val + '  ><input type ="hidden" name="leave[1]" value=' + approve + '></form>');
        $(form).appendTo('body').submit();
                    
    }
</script>