@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/bootstrapstyle")
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-50 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Services">Services</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Products">Products</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Search">Search</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Company Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Login">Login</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated == true)
                {

                    if (Roles.IsUserInRole("ProjectManager") == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee/EditInfo">@User.Identity.Name - Project Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Leave/ApplyLeave">Apply Leave</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Leave/ViewLeave">View Leave</a>
                        </li>
                    }
                    if (Roles.IsUserInRole("Employee") == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee/EditInfo">@User.Identity.Name - Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Leave/ApplyLeave">Apply Leave</a>
                        </li>
                    }
                    if (Roles.IsUserInRole("HumanResources") == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee/EditInfo">@User.Identity.Name -Human Resources </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Leave/ApplyLeave">Apply Leave</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee/Register">Register Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee/Delete">Delete Employee</a>
                        </li>

                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Logout">Logout</a>
                    </li>
                }
            </ul>
        </div>

    </nav>

    @RenderBody()

    <footer class="page-footer font-small">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                    <small class="d-block mb-3 text-muted">© 2019-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Developers</a></li>
                        <li><a class="text-muted" href="#">Features</a></li>
                        <li><a class="text-muted" href="#">Ideas</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Packages</a></li>
                        <li><a class="text-muted" href="#">Upcoming</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Business</a></li>
                        <li><a class="text-muted" href="#">Education</a></li>
                        <li><a class="text-muted" href="#">Government</a></li>
                        <li><a class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
