@using System.Web.Optimization
@model LeaveManagement.ViewModels.EmployeeInfoViewModel
@{
    ViewBag.Title = "Edit Employee Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>



<body>

    
    <div class="container-fluid col-md-8">
        <div class="row">
            <div class="col-sm-12">
                <img src="data:image;base64,@Model.ImageUrl " class="rounded float-left" width="100px" height="100px" />
                @if (Model.FirstName != null)
                {
                    <h1>@Model.FirstName @Model.LastName</h1>
                }
                @if (Model.FirstName == null)
                {
                    <h1>Employee Details</h1>
                }

                <form novalidate="novalidate" action="/Employee/EditInfo" enctype="multipart/form-data" method="post" class="needs-validation">
                    @Html.AntiForgeryToken()
                    @Html.Partial("_UploadImage")
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="FirstName">First Name:</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="Your First Name" name="FirstName" autofocus="autofocus" value=@Model.FirstName>
                        </div>
                        <div class="form-group col">
                            <label for="LastName">Last Name:</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="Your Last Name" name="LastName" autofocus="autofocus" value=@Model.LastName>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="ProjectsDone">Projects:</label>
                            <textarea class="form-control" id="ProjectsDone" placeholder="Your Projects" name="ProjectsDone" rows="3">@Model.ProjectsDone</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="Bio">Your Bio:</label>
                            <textarea class="form-control" id="Bio" placeholder="Your Bio" name="Bio" rows="2">@Model.Bio</textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="Hobbies">Your Hobbies:</label>
                            <textarea class="form-control" id="Hobbies" placeholder="Your Hobbies" name="Hobbies" rows="4">@Model.Hobbies</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="Address">Your Address:</label>
                            <textarea class="form-control" id="Address" placeholder="Address" name="Address" rows="2">@Model.Address</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
